.button {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	color: rgb(82, 82, 82);
	padding: 15px;
	padding-right: 45px;
	padding-left: 45px;
	background: white;
	border-radius: 7px;
	border: none;
	cursor: pointer;
}
